<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
         @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&display=swap');
        body {
            background-color : #1A1A1A;
            font-family : 'Inter';
            color: white;
        }
    </style>
</head>
<body>
    <h1>404 | page not found</h1>
</body>
</html>