<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&display=swap');
        body {
            background-color : #1A1A1A;
            font-family : 'Inter';
            color: black;
        }

        #review-card {
            max-width: 40rem;
            height: fit-content;
            background-color: #EBFB5A;
            border: none;
            padding: 20px 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            color: #1A1A1A;
        }

        #add {
            padding: 10px 20px;
            font-family: "Inter";
            background-color: #EBFB5A;
            border: none;
            border-radius: 5px;
        }

        #add a {
            text-decoration: none;
            color: #1A1A1A;
        }

        #content {
            color: white;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <div id="content">
        <h2>Reviews</h2>
        <p>View all the recorded reviews by various users</p>
    </div>
    
    
    <% reviews.forEach(review => { %>
        <div id="review-card">
            <h1><%= review.film %></h1>
            <p><em>review by <%= review.username %></em></p>
            <p><%= review.review %></p>
            <p><%= review.rating %> / 5</p>
        </div>
    <% }); %>

    <button id="add"><a href="review.html">Add Review</a></button>
</body>
</html>
